* {
  font-family: "Montserrat", sans-serif;
}

textarea,
input,
button,
select {
  font: inherit;
  cursor: pointer;
}

input {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0.5rem 0 0 0.5rem !important;
  height: 3rem !important;
  border: 1px solid;
  font-size: 1.7rem !important;
}

#searchText {
  border: 1px solid;
}

#search {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 0.5rem 0.5rem 0 !important;
  border: 1px solid;
  height: 3.25rem !important;
}

#last_search {
  height: 45px;
  width: 150px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

::placeholder {
  color: rgb(129, 129, 129);
  font-weight: 450;
  font-size: 1.5rem;
}

main {
  min-height: 100vh !important;
}

img {
  max-width: 100% !important;
}

h2 {
  margin-top: 0 !important;
}

#player {
  aspect-ratio: 16 / 9;
  width: 100%;
}

#youtube {
  min-height: 31rem !important;
}

#wiki {
  margin-bottom: 0 !important;
  min-height: 31rem !important;
}

#wikiCardContainer {
  margin-bottom: 0 !important;
  min-height: 31rem !important;
}

#wikiCardText {
  min-height: 20rem !important;
}

#wikiText {
  min-height: 20.9rem !important;
  max-height: 20.3rem !important;
  overflow: hidden;
}

#wikiText:hover {
  overflow-y: scroll;
}
